@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
  box-sizing: border-box;
}

body {
  margin:0;font-family:"Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-size:0.9375rem;font-weight:400;line-height:1.5;color:#fff;text-align:left;background-color:#222
}

hr.faded {
    width: 70%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(59, 59, 59, 0), rgba(3, 3, 3, 0.75), rgb(59, 59, 59, 0));
}

.checkbox-grid li {
  display: block;
  float: left;
  width: 5%;
}

.roleBox {
  border-radius: 3px;
  padding: 0px 3px;
  font-size: 0.8em;
  white-space: nowrap;
}

.tab-background {
    width: 10%;
    background-color: #2d2d2d;
    border: 1px solid black;
    height: auto;
    border-radius: 2.8px;
}

.tab {
	padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.tab:first-of-type {
	padding-top: 10px;
}

.tab:last-of-type {
  padding-bottom: 10px;
}

.tab-avatar *:not(script):not(a) {
  border: 2px solid white;
  display: block;
  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}

.tab .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Style the buttons inside the tab */
.tab button, .dropdown-btn button {
	  border-radius: 2.45px;
    display: block;
    background-color: inherit;
    color: white;
    padding: 8px 14px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
    font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #3b3b3b;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #90caf9;
}

.tab button.dropdownActive {
    background-color: #3b3b3b;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border-left: none;
    height: 300px;
}

div .main-body-content {
  display: none;
}

.dashboard-icon *:not(script) {
  border: 2px solid white;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.status {
  box-sizing: border-box;
  border-width: 2px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  float: left;
  vertical-align: middle;
  margin: 5px;
}

.online {
  background-color: #42b581;
  border-color: #69c49a;
}

.idle {
  background-color: #faa61a;
  border-color: #fbb848;
}

.dnd {
  background-color: #f04747;
  border-color: #f36c6c;
}

.offline {
  background-color: #747f8d;
  border-color: #9099a4;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.card-container{align-items:center;display:flex;flex-direction:row;flex-flow:row wrap;justify-content:space-around}.card-container .card{background-color:#303030;border-radius:6px;box-shadow:0 2px 10px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(32,34,37,0.6);display:block;font-family:arial;margin:0 .05em;margin-top:2em;padding-bottom:.75em;text-align:center;width:320px}.card-container .card .avatar{background-color:#282828;border-radius:6px 6px 0 0;padding:.75em 0}.card-container .card .avatar img{border-radius:100%;margin:.5em 0;width:7em}.card-container .card .title{display:block;font-size:26px;margin-bottom:0;margin-top:.3em}.card-container .card .description{color:#808080;font-size:18px;margin:0}.card-container .card .description.link{color:#2980b9}.card-container .card .footer{background-color:#303030;border-radius:0 0 6px 6px;display:block;padding-bottom:-.15em;padding-top:.6em}.card-container .card .footer *{margin:0 .75em;margin-bottom:0;text-align:left}.card-container .card .footer * *{margin:0}.card-container .card .footer a{color:#2980b9;font-size:14px;text-decoration:none}.workcard-container{align-items:center;display:flex;flex-direction:row;flex-flow:row wrap;justify-content:space-around}.workcard-container .card{cursor:default;height:200px;margin:14px 10px;position:relative;width:330px}.workcard-container .card img{height:200px;width:330px}.workcard-container .card a.overlay{cursor:pointer}.workcard-container .card .overlay{transition:opacity 0.25s ease-in-out;-webkit-transition:opacity 0.25s ease-in-out;-ms-transition:opacity 0.25s ease-in-out;-moz-transition:opacity 0.25s ease-in-out;-o-transition:opacity 0.25s ease-in-out;background:rgba(0,0,0,0.8);height:200px;left:0;opacity:0;position:absolute;top:0;width:330px}