<%- include('./blocks/header', {bot, user, path}) %>

<!--<div class="ui horizontal inverted divider" style="max-width: 95%; margin-left: auto; margin-right: auto;"><span style="font-size: <%# gnameSize %>px;"><%# guild.name %></span></div> -->

<% include ./blocks/footer %>