<%- include('./blocks/header', {bot, user, path}) %>

<!--<div class="ui horizontal inverted divider" style="max-width: 95%; margin-left: auto; margin-right: auto;"><span style="font-size: <%# gnameSize %>px;"><%# guild.name %></span></div> -->
<div class="ui items">
<div class="item">
    <div class="ui small image">
      <img src="https://semantic-ui.com/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
</div>

<% include ./blocks/footer %>