    </div>
  <script type="text/javascript">
    function hideloader() {
    setTimeout(function() {
      $('#gooloader').css('display', 'none');
      $('.main-body-content').css('display', 'initial');
    }, 1200)
    }
  </script>
  </body>
</html>