<div class="card-header" style="padding: 2px;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link<% if(active === 'manage') { %> active<% } %>" href="/web/<%= guild.id %>/manage">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link<% if(active === 'stats') { %> active<% } %>" href="/web/<%= guild.id %>/stats">Stats</a>
    </li>
    <li class="nav-item">
      <a class="nav-link<% if(active === 'members') { %> active<% } %>" href="/web/<%= guild.id %>/members">Members</a>
    </li>
  </ul>
</div>