  <!-- Manage Page Modals -->
<div class="ui basic modal" id="serverLeaveModal">
  <div class="ui icon header">
    <i class="exclamation triangle icon"></i>
    Leave Server?
  </div>
  <div class="content">
    <p>Are you sure you want Logan to leave your server?</p>
  </div>
  <div class="actions">
    <div class="ui basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui red ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
  
  <div id="settingsResetModal" class="modal" role="dialog" aria-labelledby="settingsResetModalLabel" aria-hidden="true">
    <div class="modal-content">
      <h4>Reset Settings?</h4>
      <p>Are you sure you want to reset do the default settings?</p>
    </div>
    <div class="modal-footer">
      <a href="/dashboard/<%= guild.id %>/reset" class="waves-effect waves-green btn-flat">Reset</a>
      <a class="modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>