  <!-- Manage Page Modals -->
  <div id="serverLeaveModal" class="modal" role="dialog" aria-labelledby="serverLeaveModalLabel" aria-hidden="true">
    <div class="modal-content">
      <h4>Leave Server?</h4>
      <p>If I leave your server, your settings will be removed, and will have to be set again if you invite me back.</p>
    </div>
    <div class="modal-footer">
      <a href="/dashboard/<%= guild.id %>/leave" class="waves-effect waves-green btn-flat">Leave</a>
      <a class="modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>
  
  <div id="settingsResetModal" class="modal" role="dialog" aria-labelledby="settingsResetModalLabel" aria-hidden="true">
    <div class="modal-content">
      <h4>Reset Settings?</h4>
      <p>Are you sure you want to reset do the default settings?</p>
    </div>
    <div class="modal-footer">
      <a href="/dashboard/<%= guild.id %>/reset" class="waves-effect waves-green btn-flat">Reset</a>
      <a class="modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
  </div>